.stars h3{
    margin: 1.5rem 0 0.5rem 0;
    font-size: 1.2rem;
}

.stars h4, .opinion h4{
    font-size: 1.1rem;
    font-weight: 500;
}

.opinion{
    margin-top: 1rem;
}

.opinion textarea{
    width: 100%;
    height: 3rem;
    max-height: 10rem;
    margin: 0.5rem 0 !important;
    padding: 0.2rem;
    font-size: 0.8rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.submitOpinion{
    margin: 0.7rem auto;
    color: #2193b0;
    background-color: transparent;
    font-weight: 600;
    width: 16%;
    height: 2rem;
    cursor: pointer;
    border: 1px solid #2193b0;
    border-radius: 0.25rem;
    box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.85);
-webkit-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.85);
-moz-box-shadow: 4px 4px 10px -2px rgba(0,0,0,0.85);
    transition: all 0.1s ease-in;
}

.submitOpinion:hover{
    height: 2.2rem;
    width: 17%;
}

.needLogin{
    cursor: pointer;
    font-weight: 600;
    margin: 0.5rem 0;
}

.addReview{
    margin: 0rem 0 1rem 1rem;
}

.ratingStars{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    color: transparent;
}



.ratingStars h3{
    font-size: 1.5rem;
    color: black;
    
}

.ratingStars h4{
    font-size: 1.2rem;
    margin: 1rem 0 0.5rem 0;
    color: black;
}

.stars{
    display: flex;
}

.comments{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.commentTitle{
    width: 77%;
    padding: 0.5rem !important;
    font-family: roboto;
    height: 2rem !important;
    margin: 1rem 0 3.5rem 0 !important;
    border-color: red !important;
    font-size: 1.5rem !important;
}

.commentDescription{
    width: 74%;
    max-width: 75% !important;
    border-color: rgb(133, 133, 133) !important;
    font-size: 1rem;
    padding: 0.5rem;
    font-family: roboto;
    margin: 0.5rem 0 !important;
    border-radius: 0.25rem;
}

.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    padding: 0 !important;
}

.reviewButton{
    width: 77%;
    max-width: 77% !important;
}