.cardHeader{
    display: flex;
    flex-direction: row-reverse;
    text-align: left;
    justify-content: space-between;
    min-height: 8rem;
}

.detailIcon{
    color: black;
}

.detailIcon svg{
    margin-right: 0.5rem;
}