.navbar{
    display: flex;
}

.toolBar{
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6dd5ed, #03a9f4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6dd5ed, #03a9f4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    justify-content: space-between;
}

.loginButton{
    display: flex;
    color: black;
    background-color: transparent;
    border: none;
    font-size: 1.5rem;
    font-family: roboto;
    cursor: pointer;
    transition: all 0.3s;
    height: 2.5rem;
    width: 8rem;
    padding: 1rem;
    margin: 0rem 2rem;
    justify-content: center;
    align-items: center;

}


.loginButton:hover{
    border: 1px solid #0472a5;
    border-radius: 5px;
}

.cartButton{
    margin-right: 0.2rem;
    color: black;
}

.badgeCart{
    margin-right: 2rem;
    color: white;
}

.menuLeft{
    display: flex;
    align-items: center;
}

.menuRight{
    display: flex;
    align-items: center;
   
}